#root {
  display: flex;
  flex-direction: column;
  align-items: center;
    background: #f0f2f5;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #333;
}

h2 {
  font-size: 1.5em;
  color: #ff4d4f;
  margin-top: 10px;
}

h1.loading {
  color: #007bff;
  margin-top: 10px;
}
